.background{
    background-image: url('../../../assets/Img/ellen.jpg');
    background-repeat: no repeat;
    background-position:right ;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}