:host{
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter{
    width: 90%;
    height: 55vh;
    color: rgb(29, 29, 29);
    background-color: rgba(255, 249, 223, 0.5);
    overflow: auto;
    p{
        margin: 0 10px 0px 10px;
        padding: 10px 0px 10px 0px;
        font-size: 21px;
    }
}